a
  transition all 0.5s ease
  color black
  text-decoration none
  &:hover
    text-decoration none

h1
  font-weight 300

.navbar
  box-shadow none
  -webkit-box-shadow none
  background-color transparent

.navbar-brand
  padding 15px 0px 0px 15px
  img
    height 35px
    width 35px

img.logo.small
  height 20px
  width 20px

ul.nav-tabs
  margin-bottom 15px

.avatar
  height 70px
  width 70px
  &.small
    padding 15px

.userCard
  .avatar
    margin-right 50px

.footer
/*
  position fixed
  bottom -50px
*/
  text-align center
  margin 150px 0px 50px

  .logo
    vertical-align middle
    margin 10px


.jumbotron
  background white
  text-align center

#login-buttons
  .login-buttons-with-only-one-button .login-button
    background-color transparent
    border 1px solid #666
    color #333

.home
  .jumbotron
    margin-top 50px

.directory-list
  .avatar
    width 25px
    height 25px
    padding 0px
  a
    display block

.last
  text-align right

/*
.pager
  li
    a
      border-color #666
      &:hover
        background-color transparent

*/
