template(name="directoryGrid")
  .directoryGrid
    each user
      a(href="{{pathFor 'Profile' username=services.github.username}}")
        .col-md-4
          img.img-circle.avatar.small(src="#{services.github.scheda.avatar_url}")
          strong #{services.github.scheda.name}
          | #{services.github.scheda.location}
