template(name="userSplash")
  .user-splash
    .usercard
      img.img-circle.avatar(src="#{services.github.scheda.avatar_url}")
      h3 #{services.github.scheda.name}
      p.small #{services.github.scheda.location}
