template(name="home")
  .home
    .row
      .container
        .jumbotron
          h1 Find developer aplayers now.
          p
            | Login through Github and find your all star programmers.
          p
            +loginButtons
