template(name="profile")
  .profile
    if profileHasLoaded
      .scheda
        .row
          .container
            .jumbotron
              +usercard
                  
        .row
          .container
            +tabs
    else 
      +spinner
